.HeroSection {
    width: auto;
    height: auto;
    background-color: #EFF8FF;
}

.Title {
    margin: 30px 0px 20px 70px;       /* шрифт не сильно тот, надо посмотреть ещё */
    font-family: "Syne", sans-serif;
    font-weight: 550;
    font-size: 45px;
    line-height: 55px;
    color: #16100D;
    position: absolute;
}

.Description {
    margin: 160px 0px 0px 70px;
    font-family: "Syne", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #16100D;
    opacity: 50%;
    position: absolute;
}

.Image {               
    width: 800px;
    height: 480px;
    display: block;
    margin-left: 480px;
    /* position: absolute; */
}

.Info {
    margin: 240px 0px 0px 70px;
    width: 915px;
    height: 100px;
    background-color: white;
    opacity: 80%;
    border-radius: 16px;
    position: absolute;
    font-family: "Syne", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #16100D;
    
}